mixin sBlog(data)
	// start sBlog
	+b.SECTION.sBlog.section#sBlog&attributes(attributes)
		.container
			+e.row.row
				+e.col-main.col-lg-9
					+e.wrap
						+e.swiper--js
							.swiper-wrapper
								.swiper-slide
									+blogCard('1', 'В Ростуризме подчеркнули – путешествия по России безопасны', '6 марта в Ростуризме заявили – на сегодняшний день каких-либо ограничений на путешествия по России как для организованных, так и для самостоятельных туристов нет. Поэтому отдых в России может стать хорошим вариантом для тех, кто решает, куда поехать.', '09.03.2020', 'redam')
									+blogCard('2', 'Перспективы туризма в Иваново', 'Признанная столица текстильщиков – Иваново, приняла первых гостей. Два рекламных тура наглядно продемонстрировали возрастающий интерес к историческим достопримечательностям, музеям тканей, редчайшим экспонатам.', '19.06.2018', 'redam')
									+blogCard('3', 'Отзывы школьников из самарской области и республики Тыва о поездке', 'В рамках проекта "Моя Россия" мы организовали туры в Москву и по Золотому кольцу России для школьников из самарской области и республики Тыва (24-26.09.2017).', '23.01.2018', 'sibactian@gmail.com')
								.swiper-slide
									+blogCard('1', 'В Ростуризме подчеркнули – путешествия по России безопасны', '6 марта в Ростуризме заявили – на сегодняшний день каких-либо ограничений на путешествия по России как для организованных, так и для самостоятельных туристов нет. Поэтому отдых в России может стать хорошим вариантом для тех, кто решает, куда поехать.', '09.03.2020', 'redam')
									+blogCard('2', 'Перспективы туризма в Иваново', 'Признанная столица текстильщиков – Иваново, приняла первых гостей. Два рекламных тура наглядно продемонстрировали возрастающий интерес к историческим достопримечательностям, музеям тканей, редчайшим экспонатам.', '19.06.2018', 'redam')
									+blogCard('3', 'Отзывы школьников из самарской области и республики Тыва о поездке', 'В рамках проекта "Моя Россия" мы организовали туры в Москву и по Золотому кольцу России для школьников из самарской области и республики Тыва (24-26.09.2017).', '23.01.2018', 'sibactian@gmail.com')
								.swiper-slide
									+blogCard('1', 'В Ростуризме подчеркнули – путешествия по России безопасны', '6 марта в Ростуризме заявили – на сегодняшний день каких-либо ограничений на путешествия по России как для организованных, так и для самостоятельных туристов нет. Поэтому отдых в России может стать хорошим вариантом для тех, кто решает, куда поехать.', '09.03.2020', 'redam')
									+blogCard('2', 'Перспективы туризма в Иваново', 'Признанная столица текстильщиков – Иваново, приняла первых гостей. Два рекламных тура наглядно продемонстрировали возрастающий интерес к историческим достопримечательностям, музеям тканей, редчайшим экспонатам.', '19.06.2018', 'redam')
									+blogCard('3', 'Отзывы школьников из самарской области и республики Тыва о поездке', 'В рамках проекта "Моя Россия" мы организовали туры в Москву и по Золотому кольцу России для школьников из самарской области и республики Тыва (24-26.09.2017).', '23.01.2018', 'sibactian@gmail.com')
								.swiper-slide
									+blogCard('1', 'В Ростуризме подчеркнули – путешествия по России безопасны', '6 марта в Ростуризме заявили – на сегодняшний день каких-либо ограничений на путешествия по России как для организованных, так и для самостоятельных туристов нет. Поэтому отдых в России может стать хорошим вариантом для тех, кто решает, куда поехать.', '09.03.2020', 'redam')
									+blogCard('2', 'Перспективы туризма в Иваново', 'Признанная столица текстильщиков – Иваново, приняла первых гостей. Два рекламных тура наглядно продемонстрировали возрастающий интерес к историческим достопримечательностям, музеям тканей, редчайшим экспонатам.', '19.06.2018', 'redam')
									+blogCard('3', 'Отзывы школьников из самарской области и республики Тыва о поездке', 'В рамках проекта "Моя Россия" мы организовали туры в Москву и по Золотому кольцу России для школьников из самарской области и республики Тыва (24-26.09.2017).', '23.01.2018', 'sibactian@gmail.com')
								.swiper-slide
									+blogCard('1', 'В Ростуризме подчеркнули – путешествия по России безопасны', '6 марта в Ростуризме заявили – на сегодняшний день каких-либо ограничений на путешествия по России как для организованных, так и для самостоятельных туристов нет. Поэтому отдых в России может стать хорошим вариантом для тех, кто решает, куда поехать.', '09.03.2020', 'redam')
									+blogCard('2', 'Перспективы туризма в Иваново', 'Признанная столица текстильщиков – Иваново, приняла первых гостей. Два рекламных тура наглядно продемонстрировали возрастающий интерес к историческим достопримечательностям, музеям тканей, редчайшим экспонатам.', '19.06.2018', 'redam')
							.swiper-pagination
							+arrow()
					+e.btn.btn.btn-warning показать еще
				+e.col-aside.col-auto.col-lg-3
					+ddGroup
						+ddGroupItem('Популярные статьи', 'active')
							ul
								li: a(href='#') Модуль туров по России и СНГ
								li: a(href='#') Паломнические туры по Золотому кольцу
								li: a(href='#') Малое и Большое Золотое кольцо России
								li: a(href='#') Хатынь: история, о которой нужно говорить
						+ddGroupItem('Архивы')
							ul
								li: a(href='#') Модуль туров по России и СНГ
								li: a(href='#') Модуль туров по России и СНГ
								li: a(href='#') Малое и Большое Золотое кольцо России
								li: a(href='#') Модуль туров по России и СНГ
						+ddGroupItem('Рубрики', 'active')
							ul
								li: a(href='#') Без рубрики (20)

	// end sBlog


mixin blogCard(img, h3, descr, date, author)
		//- .swiper-slide
		+b.blog-card(href='#')
			+e.img-wrap: +img(`img/blog-${img}.png`, 'bg')
			+e.content
				+e.item.small
					+e.date
						+icon('calendar')
						!= date
					+e.author
						+icon('author')
						!= author
				.h3!= h3
				p!= descr
				+e.item.small
					+e.topic
						span Рубрика:
						| Без рубрики
					+e.btn.btn.btn-warning.small.fw-300 Читать статью
						+icon('chevron-right')