mixin sForm()
	// start sForm
	+b.sForm.section#sForm&attributes(attributes)
		.container
			+form-wrap
				+e.row.row
					+e.col.col-md-6
						+e.content
							.h3 Подписаться на рассылку
							+in-c('radio','Как турагенство')(checked)
							+in-c('radio','Как турист')
							+policy
					+e.col.col-md-6
						+input("Ваш email",'email','')
						+input("Название турагенства", 'text', '')
						+input("Ваш город", 'text', '')
				+e.btn.btn.btn-warning(type="submit") подписаться
				+e.img-wrap: +img('img/email-bg.png', 'bg')
	// end sForm