
mixin modal()
		//  start modals

		// #modal-review
		div(id="modal-review"  style="display: none")
			+b.modal-win
				+form-wrap
					+e.title.h4.fw-700 Оставить отзыв
						+icon('review')
					.row
						.col-md-6
							+input("Ваш имя*",'text','')
							+input("Ваш телефон*", 'tel', '')
							+input("Сайт",'text','')
						.col-md-6.textarea
							+input("Ваш отзыв*", 'textarea', '')
					+e.BUTTON.btn.btn.btn-warning(type="submit") отправить
				+icon('lines-form-bg')

// #modal-review


// end modals