mixin sContact()
	// start sContact
	+b.SECTION.sContact.section#sContact&attributes(attributes)
		.container
			+e.row.row
				.col-auto.col-md-3
					+e.logo(href="#")
						+img('img/logo.png')
				.col-12.col-lg-8.col-xl-6
					+e.contacts
						+b.contacts-item
							+e.icon
								+icon('phone')
							+e.content
								p Телефоны:
								ul
									li
										+e.tel(href="tel:+74955450621") +7 (495) 545-06-21
									li
										+e.tel(href="tel:+74959616127") +7 (495) 961-61-27
						+b.contacts-item
							+e.icon
								+icon('clock')
							+e.content
								p График работы:
								+e.schedule пн-пт 10:00-19:00, сб 11:00,
								+e.schedule вс - выходной
						+b.contacts-item
							+e.icon
								+icon('email')
							+e.content
								p Email:
								+e.schedule(href='mailto:viaduk@aha.ru') viaduk@aha.ru
				.col-auto
					+e.btn.btn.btn-warning.callback.small(href='#') Заказать звонок
	// end sContact