mixin headerItem(icon, title)
	.col-auto
		+b.header-item(href="#")
			+icon(icon)
			+e.title!= title

mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
			//- .container
			+e.slider--js
				.swiper
					.swiper-wrapper
						+e.slide.swiper-slide.bg-wrap
							+img('img/header-bg-1.png', 'bg').picture-bg
							.container
								+e.title-wrap
									.h2 Экскурсионные туры по России и СНГ
									p Туры на 2-10 дней от 6 790 руб./чел.
									+e.btn.btn.btn-warning(href='#') подобрать тур
						+e.slide.swiper-slide.bg-wrap
							+img('img/header-bg-1.png', 'bg').picture-bg
						+e.slide.swiper-slide.bg-wrap
							+img('img/header-bg-1.png', 'bg').picture-bg
					.swiper-pagination
					+e.arr-wrapper
						+arrow()
				.container.form-container
					+form-wrap
						+e.row.row
							.col-auto
								+input("Выберите направление", 'text', 'Куда поедем?')
							.col-auto
								+input("Любая",'date', 'Дата заезда')(required readonly autocomplete="off"  class="date-input" value="22.03.2024")
							.col-3
								+input('Любое', 'number', 'Кол-во дней')
							.col-auto
								+e.btn.btn.btn-warning.small найти туры
									+icon('search')
			.container
				+e.row.row
					+headerItem('holiday', 'туры на праздники')
					+headerItem('weekend', 'туры выходного дня')
					+headerItem('bus', 'автобусные туры')
					+headerItem('star', 'новинки')
					+headerItem('book', 'школьные туры')
	// end headerBlock