// start .headerBlock
.headerBlock {
	--sPT: #{rem(0)};
	--sPB: #{rem(0)};
  background-color:$gray-200;
  
	// --sTPB: #{rem(30)}; 
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
  &__slider {
    position: relative;
  }
	// .form-container {
  //   position: absolute;
  //   bottom: 15%;
  //   left: 1vw;
  //   // height: 100%;
  //   z-index: 15;
  //   // margin: 0 auto;
  // }
	
	&__row{
		--bs-gutter-x: #{rem(0)};
		--bs-gutter-y: var(--bs-gutter-x);

	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
    overflow: hidden;
    &::after {
      content: '';
      position: absolute;
      border-radius: 100%;
      top: -58%;
      left: -80%;
      width: 150%;
      height: 200%;
      background: $body-bg;
      transform: rotate(40deg);
      @include media-breakpoint-up(sm) {
        top: -80%;
        left: -80%;
        width: 150%;
        height: 200%;
      }
      @include media-breakpoint-up(lg) {
        width: 44%;
        top: -70%;
        left: 89px;
        height: rem(1100);
        transform: rotate(46deg);
      }
    }
	}
  .header-item {
    color: $gray-700;
    display: flex;
    align-items: center;
    gap: rem(10);
    padding: rem(15);
    .icon {
      font-size: rem(32);
      transform: translateY(rem(-2));
    }
    @include media-breakpoint-up(lg) {
      padding: rem(23) rem(15);
    }
    &__title {
      text-transform: uppercase;
      font-weight: 500;
      font-family: $font-family-monospace;
      line-height: 100%;
    }
    &:hover {
      background:$gray-300;
    }
  }
  &__title-wrap {
    max-width: rem(470);
    margin-bottom: rem(70);
    .h2 {
      margin-bottom: rem(15);
    }
    p {
      margin-bottom: rem(30);
    }
  }
  .container {
    position: relative;
    z-index: 5;
  }
  &__slide {
    height: auto;
		padding-top: rem(90);
    padding-bottom: rem(111);
    position: relative;
    z-index: 5;
    background: $body-bg;
    // &::before {
    //   content:'';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   z-index: 0;
    //   background: $body-bg;
    //   opacity: .4;
    //   @include media-breakpoint-up(lg) {
    //     opacity: 0;
    //   }
    // }
    img {
      max-width: rem(1230);
      right: 0;
      left: auto;
    }
		// @include media-breakpoint-up(lg) {
		// 	padding: rem(110) rem(60) rem(162);
		// }
    }
  // .swiper-button-prev,
  // .swiper-button-next {
  //   right: rem(100);
  //   border: none !important;
	//   background-color: none !important;
  // }
  .form-wrap {
    background: $white;
    border-radius: rem(30);
    max-width: max-content;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
    .data-picker-wrap  {
      // width: 100%;
      .form-wrap__input-wrap:after {
        content: '';
        position: absolute;
        right: rem(10);
        bottom: 0;
        height: rem(1);
        width: calc(100% - rem(20));
        background: $gray-200;
      }
    }
    @include media-breakpoint-up(lg) {
      border-radius: rem(100);
      .data-picker-wrap .form-wrap__input-wrap {
        width: auto;
        max-width: rem(210);
        &:after {
          content: '';
          position: absolute;
          right: 0;
          top: -150%;
          height: 400%;
          width: rem(1);
          background: $gray-200;
          z-index: 102;
        }
      }
    }
    form {
      display: flex;
      align-items: start;
      padding: rem(10);
      padding-right: rem(5);
      overflow: hidden;
      flex-direction: column;
      @include media-breakpoint-up(sm) {
        padding: rem(15);
      }
      @include media-breakpoint-up(lg) {
        padding: rem(5);
        flex-direction: row;
        align-items: center;
      }
    }
    input {
      background: transparent;
      border: none;
      padding: 0;
    }
    &__input-title {
      font-size: $small;
      font-weight: 700;
      min-width: max-content;
      padding-right: rem(15);
    }
    &__input-wrap {
      padding: rem(10);
      position: relative;
      &:not(:last-child):not(:nth-last-child(2)):after {
        content: '';
        position: absolute;
        right: rem(10);
        bottom: 0;
        height: rem(1);
        width: calc(100% - rem(20));
        background: $gray-200;
      }
      @include media-breakpoint-up(lg) {
        &:not(:last-child):not(:nth-last-child(2)):after {
          content: '';
          position: absolute;
          right: 0;
          top: -150%;
          height: 400%;
          width: rem(1);
          background: $gray-200;
        }
      }
      label {
        display: flex;
        align-items:center;
        justify-content: center;
        @include media-breakpoint-up(lg) {
          padding-left: rem(20);
        }
      }
      &:nth-child(3) .form-wrap__input {
        max-width: rem(70);
        margin-right: rem(10);
      }
    }
    &__btn {
      --bs-btn-padding-x: #{rem(20)};
      --bs-btn-padding-y: #{rem(10)};
      display: flex;
      align-items:center;
      justify-content: center;
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
    }
    .icon {
      fill: $white;
      font-size: rem(24);
      margin-left: rem(12);
      transform: translateY(-1px);
    }
  }
  &__arr-wrapper {
    width: rem(250);
    display: flex;
    position: absolute;
    bottom: rem(42);
    transform: translateX(-50%);
    left: 55%;
    // position: relative;
    // margin: 0 auto;
    // transform: translateY(-100%);
    z-index: 50;
  }
  .swiper {
    position: relative;
  }
  .swiper-button-hand {
    // position: relative;
    --swiperBgDefHover: transparent;
    &:hover .icon {
      stroke: $gray-100;
      fill: $gray-100;
    }
    .icon {
      stroke-width: rem(1);
      fill: $white;
      stroke: $white;
    }
  }
  .swiper-pagination {
    bottom: rem(30);
    left: 5%;
    span {
      width: rem(13);
      height: rem(13);
    }
  }
  .swiper-button-hand-next {
    right: 0;
  }
  .swiper-button-hand-prev {
    left: 0;
  }
  .swiper-pagination-bullet-active {
    border: rem(2) solid $white;

  }

	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock
