mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			+e.video-block
				+b.section-title
					h2 Туры по России и СНГ- Туристическая фирма Виадук Тур
					p Мы работаем как с частными туристами, так и с турагентствами!
				iframe(
					src="https://www.youtube.com/embed/__-vp0g_BhA?si=Rx6kzXC8gkob2xzz"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
					allowfullscreen)
			+e.row.row
				.col-lg-5
					+b.welcome
						+e.title.h3 Добро пожаловать на сайт турфирмы "Виадук Тур"
						p У нас вы найдёте более 400 экскурсионных туров по России и СНГ из Москвы и других городов. Среди них есть туры и экскурсии на праздники, а также регулярные и сезонные поездки. Вы можете выбрать туры выходного дня, а также более продолжительные на 3–10 дней.
						+icon('travel')
				.col-lg-7
					+b.description
						p Среди популярных направлений — Золотое кольцо России, Казань, Вологда, Великий Новгород, Беларусь и тд. У туристов из регионов популярны столицы — Москва и Санкт-Петербург. Бронируйте туры по России и СНГ в нашей компании.
						+e.imgs-wrap
							+img('img/about-1.png')
							+img('img/about-2.png')
							+img('img/about-3.png')
	// end sAbout