// start .sSearchTrip
.sSearchTrip {
	--sPT: #{rem(90)};
	--sPB: #{rem(50)};
	// --sTPB: #{rem()};
	
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title{
		
	}
	&__col{
		
	}
	&__item{
		
	}
  &__input-wrap {
    margin-bottom: rem(35);
    margin-left: rem(15);
  }
  &__city {
    background: $white;
    padding: rem(12) rem(20);
    border-radius: rem(30);
    display: block;
    @include media-breakpoint-up(sm) {
      padding: rem(20) rem(30);
    }
  }
  &__swiper {
    overflow: hidden;
    position: relative;
    @include media-breakpoint-up(md) {
      padding-bottom: rem(40);
    }
    
  }
  .swiper-wrapper {
    // width: 100%;
    // height: 100%;
    // margin-left: auto;
    // margin-right: auto;
    a {
      color: $gray-700;
    }
  }
  .swiper-slide {
    // margin-top: 0 !important;
  }
  .swiper-grid-column>.swiper-wrapper {
    // flex-direction: row;
    height: rem(180);
    @include media-breakpoint-up(sm) {
      height: rem(243);
    }
  }
  &__arrow-wrap {
    position: relative;
    width: rem(110);
    z-index: 5;
    padding-left: rem(20);
    padding-right: rem(40);
    
    border-radius: rem(30);
    height: rem(60);
    @include media-breakpoint-down(md) {
      margin: 0 auto;
      margin-top: rem(20);
    }
    @include media-breakpoint-up(md) {
      background-color: $body-bg;
      position: absolute;
      height: calc(33.3333% - 20px);
      width: 33%;
      right: rem(-12);
      bottom: calc(33% - 60px);
      .swiper-button-hand-next {
        right: 13%;
      }
      .swiper-button-hand-prev {
        left: 13%;
      }
    }
    @include media-breakpoint-up(xl) {
      width: 25%;
      right: rem(-12);
      bottom: calc(33% - 60px);
      .swiper-button-hand-next {
        right: 24%;
      }
      .swiper-button-hand-prev {
        left: 22%;
      }
    }
  }
  // .swiper-button-hand {
  //   border: none;
  //   background-color: transparent;
  //   box-shadow: none;
  //   .icon {
  //     // fill: none;
  //     stroke: $gray-700;
  //   }
  // }

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSearchTrip
.swiper-button-hand {
  border: none;
  background-color: transparent;
  box-shadow: none;
  &:hover {
    background: none;
  }
  .icon {
    // fill: none;
    stroke: $gray-700;
  }
}