mixin sSearchTrip(data)
	// start sSearchTrip
	+b.SECTION.sSearchTrip.section#sSearchTrip&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sSearchTrip
				
			+e.row.row
	// end sSearchTrip