include ../sTour/_sTour.pug

mixin product-card(i, t, p ,btn)
	+b.product-card(href='#')
		+e.img-wrap
			.img-wrap-center
				+img(`img/catalog-${i}.png`)
		+e.caption
			+e.title-w
				+e.title!= t
				if p
					+e.text.small!= p
			+e.btn-wrap
				+e.btn.btn.btn-warning.small.fw-300!= btn
					+icon('chevron-right')
	// /.product-card

mixin sCatalog()
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+e.row.row
				+e.col-aside.col-lg-3.small.order-lg-0
					+e.sort.d-lg-none.accordion-js Сортировать
					.accordion-toggle
						+ddGroup
							+ddGroupItem('Регулярные туры', 'active')
								ul
									li
										span По России
										.smallest (по алфавиту)
									li: a(href='#') Астрахань
									li: a(href='#') Байкал
									li: a(href='#') Великий Устюг
									li: a(href='#') Вологда
									li: a(href='#') Золотое Кольцо
									li: a(href='#') Кавказ
									li: a(href='#') Казань
									li: a(href='#') Калининградская область
									li: a(href='#') Камчатка
									li: a(href='#') Карелия
									li: a(href='#') Крым
									li
										span По СНГ
									li: a(href='#') Белоруссия
							+ddGroupItem('Другие туры')
								ul
									li: a(href='#') Астрахань
									li: a(href='#') Байкал
									li: a(href='#') Великий Устюг
									li: a(href='#') Вологда
				+e.col-main.col-lg-9
					+e.wrap-row.row
						.col-sm-6.col-lg-4
							+product-card('1', 'Туры по Золотому кольцу на Новый год', '', 'Подробнее')
						.col-sm-6.col-lg-4
							+product-card('2', 'Туры по Золотому кольцу на Рождество', '', 'Подробнее')
						.col-sm-6.col-lg-4
							+product-card('3', 'Автобусные туры по России', 'из Москвы', 'Подробнее')
						.col-sm-6.col-lg-4
							+product-card('4', 'Тур на 2 дня Палех-Шуя-Иваново', '', 'от 9900 руб.')
						.col-sm-6.col-lg-4
							+product-card('5', 'Тур на 2 дня Ярославль-Кострома', 'с 23 сентября 2023г. по 21 апреля 2024г.', 'от 9000 руб.')
						.col-sm-6.col-lg-4
							+product-card('6', 'Школьные туры', '', 'Подробнее')
						.col-sm-6.col-lg-4
							+product-card('5', 'Тур на 3 дня Ярославль-Кострома', 'с 23 сентября 2023г. по 21 апреля 2024г.', 'от 9000 руб.')
						.col-12
							+e.btn.btn.btn-warning показать еще
							+pugin()
				+b.rev-wrap.col-lg-9.offset-lg-3.order-2
					+e.rev-title-wrap
						.h3 Отзывы
						+e.btn.btn.btn-warning оставить отзыв
					+e.swiper--js
						.swiper-wrapper
							.swiper-slide
								+review('Константин, Александра', '15.04.23', 'Ярославль-Кострома', 'Очень хорошие впечатления. Экскурсовод Анна Кострова - супер. Очень интересно, доходчиво, познавательно.рассказала.Доброжелательные, отзывчивые водители.Как появится возможность ещё куда-то поехать - обратимся в Виадук.')
							.swiper-slide
								+review('Светлана', '2-3 янв', 'иваново-палех-шуя', 'Спасибо, дорогой Виадук! Мы так хорошо прокатились коллективом в иваново. и полюбовались, и узнали много чего, и прикупили: палехские шкатулочки, шуйские ситцы. отель - очень хороший, еда - ну все прекрасно! А банкет!!! Мы к вам еще вернемся!')
							.swiper-slide
								+review('Ольга, Марина', '20.07.23-23.07.23', 'По "Государевой Дороге из Петербурга в Москву"', 'С 20.07.23 по 23.07.23 были на экскурсии по "Государевой Дороге из Петербурга в Москву".Благодарим экскурсовода Анну Горшкову за интересный и увлекательный рассказ. увлекательный рассказ.<br>На экскурсии бывали -<br>Очень много повидали.<br>')

	// end sCatalog
