mixin sMap(data)
	// start sMap
	+b.SECTION.sMap.section#sMap&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 География
			+e.row.row
				.col-12.col-xl-9
					+e.map
						+img('img/map-replace.png')
						//- #map
				.col.col-auto.col-xl-3
					+e.card.bg-wrap
						+img('img/map-bg.png','bg').picture-bg
						+b.content
							+e.title.fw-600 Не смогли найти подходящий тур по России на сайте?
							p Мы подберём его по телефону! Звоните
							+e.btn.btn.btn-warning(href='#') заказать звонок
	// end sMap