mixin sArticle(data)
	// start sArticle
	+b.SECTION.sArticle.section#sArticle&attributes(attributes)
		.container
			+e.row.row
				+e.col-main.col-lg-9
					+e.wrap
						+e.img-wrap: +img('img/article-bg.png', 'bg')
						+e.content
							+b.head.small
								+e.date
									+icon('calendar')
									| 09.03.2020
								+e.topic
									span Рубрика:
									| Без рубрики
								+e.author
									+icon('author')
									| redam
							.h3 В Ростуризме подчеркнули – путешествия по России безопасны
							p и не стоит ограничивать себя в поездках по стране
							p 6 марта в Ростуризме заявили – на сегодняшний день каких-либо ограничений на путешествия по России как для организованных, так и для самостоятельных туристов нет. Поэтому отдых в России может стать хорошим вариантом для тех, кто решает, куда поехать.
							p «Впереди еще вся весна, и сейчас на рынке есть интересные предложения по соотношению цены и качества, – заявила глава Ростуризма Зарина Догузова. – Например, на юге России – в Краснодарском крае, Крыму и Ставропольском крае, где уже тепло и комфортно». Туристы, по мнению г-жи Догузовой, заинтересованные в культурно-познавательном отдыхе, сейчас могут посетить также Москву, Санкт-Петербург, города Золотого кольца, Казань, Нижний Новгород, воспользовавшись доступными ценами.также  Казань, Нижний Новгород, воспользовавшись доступными ценами.
							p Наблюдатели подчеркивают – подобные заявления ведомства помогают снизить градус напряжения в обществе, ведь многие боятся покидать родные города и проводят отпуска дома.
							span Источник: 
							| https://www.tourdom.ru/news/v-rosturizme-podcherknuli-puteshestviya-po-rossii-bezopasny.html
					+e.btn.btn.btn-warning оставить отзыв
				+e.col-aside.col-12.col-lg-3
					+ddGroup
						+ddGroupItem('Популярные статьи', 'active')
							ul
								li: a(href='#') Модуль туров по России и СНГ
								li: a(href='#') Паломнические туры по Золотому кольцу
								li: a(href='#') Малое и Большое Золотое кольцо России
								li: a(href='#') Хатынь: история, о которой нужно говорить
						+ddGroupItem('Архивы')
							ul
								li: a(href='#') Модуль туров по России и СНГ
								li: a(href='#') Модуль туров по России и СНГ
								li: a(href='#') Малое и Большое Золотое кольцо России
								li: a(href='#') Модуль туров по России и СНГ
						+ddGroupItem('Рубрики', 'active')
							ul
								li: a(href='#') Без рубрики (20)

	// end sArticle